To - Do - Task
3.1 Warm Up Exercises:
1. Sorting and Subsetting:
Complete all following Task:
â€¢ Dataset for the Task: "titanic.csv"
Following task is common for all the problem:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Titanic-Dataset.csv to Titanic-Dataset.csv

In [ ]:
import pandas as pd
# Common Task
df = pd.read_csv("Titanic-Dataset.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Things to know [] this gives or select single column which is Series and [[]] this gives or select multiple columns which gives DataFrame and in problem 1,2,3 we need DataFrame.

In [ ]:
# Problem 1 - Sorting
fare = df[['Fare']]
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [ ]:
#problem 2

class_age =df[["Pclass","Age"]]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
#problem3
survived_gender =df[["Survived","Sex"]]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem - 2 - Subsetting:
Complete all the following Task:
Subsetting Rows:

Things to know
df['Fare'] > 100 creates a True/False filter

df[ ... ] selects only the rows where the condition is True

The result is stored in fare_gt_100

In [ ]:
#problem1
fare_gt_100 = df[df["Fare"]>100]
print(fare_gt_100.head())

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.0      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked  fare_per_year
27       2     19950  263.0000  C23 C25 C27        S      13.842105
31       0  PC 17569  146.5208          B78        C       5.232886
88       2     19950  263.0000  C23 C25 C27        S      11.434783
118      1  PC 17558  247.5208      B58 B60        C      10.313367
195      0  PC 17569  146.5208          B80        C       2.526221

In [ ]:
#problem2
first_class = df[df["Pclass"]==1]
print(first_class.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked  fare_per_year
1       0  PC 17599  71.2833   C85        C       1.875876
3       0    113803  53.1000  C123        S       1.517143
6       0     17463  51.8625   E46        S       0.960417
11      0    113783  26.5500  C103        S       0.457759
23      0    113788  35.5000    A6        S       1.267857

In [ ]:
#problem3

In [ ]:
female_under_18 = df[(df["Sex"]=="female") & (df["Age"]<18)]
print(female_under_18.head())

    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked  fare_per_year
9   female  14.0      1      0   237736  30.0708   NaN        C       2.147914
10  female   4.0      1      1  PP 9549  16.7000    G6        S       4.175000
14  female  14.0      0      0   350406   7.8542   NaN        S       0.561014
22  female  15.0      0      0   330923   8.0292   NaN        Q       0.535280
24  female   8.0      3      1   349909  21.0750   NaN        S       2.634375

Subsetting Rows by Categorical variables:

In [ ]:
#problem 1
embarked_c_or_s =df[(df["Embarked"]=="C") | (df["Embarked"]=="S") ]
print(embarked_c_or_s.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
#problem 2
first_second_class=df[df["Pclass"].isin([1, 2])]
print(first_second_class.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

3.2 Exploratory Data Analysis Practice Exercise - 1.
Warning: Handle missing values in the Age column by filling them with the median age of

the dataset before performing the division.)

Answer the following questions from Dataset:
Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:

In [ ]:
#problem1
#Step1 fill missing age values with median age
#1. Why fill missing Age values with the median?

# In the Titanic dataset:

# Some passengers have no age value (NaN).

# You must calculate: Fare Ã· Age

# If Age is missing, you cannot divide â†’ the result becomes NaN or causes errors.

# Why median?

# Median is more stable than mean because there are many children and very old passengers.

# Median avoids being influenced by extreme ages.

# So this step makes the dataset complete and ready for mathematics.
df["Age"] = df["Age"].fillna(df["Age"].median())

 #step-2
#   Why create a new column: fare_per_year = Fare / Age?

# This is the key part of the question.

# ðŸ’¡ The question asks:
# Which passenger paid the highest fare relative to their age?

# This means:

# Someone young who paid high fare â†’ very high ratio

# Someone old who paid low fare â†’ smaller ratio
df["fare_per_year"] = df["Fare"] / df["Age"]

#Step-3
# 3. Why find the row with the highest fare_per_year?

# After computing the ratio for all passengers, we need to know:

# Who has the maximum value?

# That person is the answer to the question.
highest_fare_relative = df.loc[df["fare_per_year"].idxmax()]
print(highest_fare_relative.head())

# We use:

# df["fare_per_year"].idxmax()


# This gives the index of the highest value.

PassengerId                               306
Survived                                    1
Pclass                                      1
Name           Allison, Master. Hudson Trevor
Sex                                      male
Name: 305, dtype: object

Task: Subset rows where fare_per_year > 5

In [ ]:
#problem-2
high_fare_age = df[df["fare_per_year"] > 5]
print(high_fare_age.head())

    PassengerId  Survived  Pclass  \
7             8         0       3
16           17         0       3
27           28         0       1
31           32         1       1
43           44         1       2

                                              Name     Sex   Age  SibSp  \
7                   Palsson, Master. Gosta Leonard    male   2.0      3
16                            Rice, Master. Eugene    male   2.0      4
27                  Fortune, Mr. Charles Alexander    male  19.0      3
31  Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.0      1
43        Laroche, Miss. Simonne Marie Anne Andree  female   3.0      1

    Parch         Ticket      Fare        Cabin Embarked  fare_per_year
7       1         349909   21.0750          NaN        S      10.537500
16      1         382652   29.1250          NaN        Q      14.562500
27      2          19950  263.0000  C23 C25 C27        S      13.842105
31      0       PC 17569  146.5208          B78        C       5.232886
43      2  SC/Paris 2123   41.5792          NaN        C      13.859733

3. Sort high fare age by descending fare per year, assigning this to high fare age srt.

In [ ]:
#As we have done earlier DataFrame i created earlier containing only the passengers whose:

# fare_per_year > 5

# So this DataFrame includes passengers who paid a very high fare relative to their age.
#  .sort_values("fare_per_year", ascending=False)
# This command sorts the rows based on the column "fare_per_year".

# "fare_per_year" â†’ the column we want to sort by

# ascending=False â†’ sort from highest to lowest

# So the passenger with the largest fare_per_year value will be at the top.

# If we used ascending=True, the smallest values would appear first, which is not what we want.

# 3. high_fare_age_srt = ...

# We assign the sorted DataFrame to a new variable called:

# high_fare_age_srt


# This means:

#  high_fare_age_srt is now a sorted version of high_fare_age.

# 4. print(high_fare_age_srt)

# This displays the sorted DataFrame, allowing you to see:

# Who has the highest fare_per_year

# Who comes next

# And so on

high_fare_age_srt = high_fare_age.sort_values("fare_per_year", ascending=False)
print(high_fare_age_srt.head())

     PassengerId  Survived  Pclass                             Name     Sex  \
305          306         1       1   Allison, Master. Hudson Trevor    male
297          298         0       1     Allison, Miss. Helen Loraine  female
386          387         0       3  Goodwin, Master. Sidney Leonard    male
164          165         0       3     Panula, Master. Eino Viljami    male
183          184         1       2        Becker, Master. Richard F    male

      Age  SibSp  Parch   Ticket      Fare    Cabin Embarked  fare_per_year
305  0.92      1      2   113781  151.5500  C22 C26        S     164.728261
297  2.00      1      2   113781  151.5500  C22 C26        S      75.775000
386  1.00      5      2  CA 2144   46.9000      NaN        S      46.900000
164  1.00      4      1  3101295   39.6875      NaN        S      39.687500
183  1.00      2      1   230136   39.0000       F4        S      39.000000

In [ ]:
result = high_fare_age_srt[["Name", "fare_per_year"]]
print(result)

                                               Name  fare_per_year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]

Which adult male passenger (age â‰¥ 18 and Sex is â€™maleâ€™) paid the highest fare relative to their
class?

1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is â€maleâ€) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [ ]:
# 1. Add new column
df['fare_per_class'] = df['Fare'] / df['Pclass']

# 2. Subset adult male passengers
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]

# 3. Sort by descending fare_per_class
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

# 4. Select required columns
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

# 5. Print result
print(result.head())

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:
Based on the dataset Answer the following question:

What percent of the total fare revenue came from each passenger class?
To answer the question perform following operation:

1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [ ]:
# 1. Total Fare
total_fare = df['Fare'].sum()
print("Total Fare:", total_fare)

# 2. First Class Fare Total
fare_class1 = df[df["Pclass"] == 1]['Fare'].sum()
print("Fare from Class 1:", fare_class1)

# 3. Second Class Fare Total
fare_class2 = df[df["Pclass"] == 2]['Fare'].sum()
print("Fare from Class 2:", fare_class2)

# 4. Third Class Fare Total
fare_class3 = df[df["Pclass"] == 3]['Fare'].sum()
print("Fare from Class 3:", fare_class3)

# 5. Combine totals into list
fare_list = [fare_class1, fare_class2, fare_class3]
print("Fare List:", fare_list)

# 6. Percent calculation
percent_class1 = fare_class1 / total_fare * 100
percent_class2 = fare_class2 / total_fare * 100
percent_class3 = fare_class3 / total_fare * 100

# Print results
print("Percent from Class 1:", percent_class1)
print("Percent from Class 2:", percent_class2)
print("Percent from Class 3:", percent_class3)

Total Fare: 28693.9493
Fare from Class 1: 18177.4125
Fare from Class 2: 3801.8417
Fare from Class 3: 6714.6951
Fare List: [np.float64(18177.4125), np.float64(3801.8417), np.float64(6714.6951)]
Percent from Class 1: 63.349287718996564
Percent from Class 2: 13.24962855496507
Percent from Class 3: 23.401083726038365

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [ ]:
# 1. Create new age group column
def get_age_group(age):
    if age < 18:
        return "child"
    elif age < 65:
        return "adult"
    else:
        return "senior"

df['age_group'] = df['Age'].apply(get_age_group)

# 2. Total passengers
total_passengers = len(df)
print("Total passengers:", total_passengers)

# 3. Count passengers in each age group
age_group_counts = df['age_group'].value_counts()
print("Age group counts:\n", age_group_counts)

# 4. Proportion of each age group
proportions = age_group_counts / total_passengers
print("Proportions:\n", proportions)

# 5. Percentages
percentages = proportions * 100
print("Percentages (%):\n", percentages)

Total passengers: 891
Age group counts:
 age_group
adult     767
child     113
senior     11
Name: count, dtype: int64
Proportions:
 age_group
adult     0.860831
child     0.126824
senior    0.012346
Name: count, dtype: float64
Percentages (%):
 age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64